main{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.dl-cv{
    background-color: #417e38;
    border-color: #417e38;
}

.dl-cv:hover{
    background-color: #4fa042;
    border-color: #4fa042;
}

.dl-cv:active{
    background-color: #4fa042 !important;
    border-color: #4fa042 !important;
}

.dl-cv:focus{
    background-color: #417e38 !important;
    border-color: #417e38 !important;
    outline: 0; 
    box-shadow: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus{
    outline: 0; 
    box-shadow: none; 
}